<%= render 'shared/errors', object: @company %>

<%= form_for @company do |f| %>

      <div class="col-xs-5">
        <%= f.label :name %>
      </div>
      <div class="col-xs-7">
        <%= f.text_field :name %>
      </div>

      <div class="col-xs-5">
        <%= f.label :money %>
      </div>

      <div class="col-xs-7">
        <%= f.number_field :money %>
      </div>

      <div class="col-xs-5">
        <%= f.label :term %>
      </div>

      <div class="col-xs-7">
        <%= f.number_field :term %>
      </div>

      <div class="col-xs-5">
        <%= f.label :annual_rate %>
      </div>

      <div class="col-xs-7">
        <%= f.number_field :annual_rate %>
      </div>

      <div class="col-xs-5">
        <%= f.label :period %>
      </div>

      <div class="col-xs-7">
        <%= f.number_field :period %>
      </div>

      <div class="col-xs-5">
        <%= f.label :default_rate %>
      </div>

      <div class="col-xs-7">
        <%= f.number_field :default_rate %>
      </div>

    <br>

    <div class="col-xs-12">
      <p><strong>Платежи:</strong></p>

      <div id="payments">
        <%= f.fields_for :payments do |builder| %>
            <%= render 'payment_fields', f: builder %>
        <% end %>
      </div>

      <div class="col-xs-12">
        <%= link_to_add_association "Добавить платеж", f, :payments %>
      </div>

    </div>
    <div class="col-xs-12" style="margin-top: 20px">
      <%= f.submit "Сохранить", class: "btn btn-default" %>
    </div>
<% end %>
