<div class="nested-fields">
  <div class="col-xs-5">
    <%= f.label :name, "Название" %>
    <%= f.text_field :name %><br/>
  </div>

  <div class="col-xs-5">
    <%= f.label :amount, "Сумма" %>
    <%= f.number_field :amount %><br/>
  </div>

  <div class="col-xs-2">
    <%= link_to_remove_association "remove", f %>
  </div>
</div>

