<div class="container">
  <div class="col-xs-12">
    <h1>Компания <%= @company.name %></h1>

    <p>
      <strong>Money:</strong>
      <%= @company.money %>
    </p>

    <p>
      <strong>Term:</strong>
      <%= @company.term %>
    </p>

    <p>
      <strong>Annual rate:</strong>
      <%= @company.annual_rate %>
    </p>

    <p>
      <strong>Period:</strong>
      <%= @company.period %>
    </p>

    <p>
      <strong>Default rate:</strong>
      <%= @company.default_rate %>
    </p>

    <% if @company.payments.any? %>
        Платежи:
        <ul>
          <% @company.payments.each do |paym| %>
              <li>
                <%= paym.name %>, <%= paym.amount %>
              </li>
          <% end %>
        </ul>
    <% end %>

    <%= link_to 'Редактировать', edit_company_path(@company) %> |
    <%= link_to 'Назад', companies_path %>

  </div>
</div>
