<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @company.money %>
</p>

<p>
  <strong>Term:</strong>
  <%= @company.term %>
</p>

<p>
  <strong>Annual rate:</strong>
  <%= @company.annual_rate %>
</p>

<p>
  <strong>Period:</strong>
  <%= @company.period %>
</p>

<p>
  <strong>Default rate:</strong>
  <%= @company.default_rate %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
